/* Generic typography setting for open broadcast */
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

//
// COLORS
////////////////////////////////

$obp-white: #fafafa;
$obp-black: #000000;

$obp-purple-1: rgba(218, 205, 253, 0.9);
$obp-purple-2: rgba(198, 178, 255, 0.9);
$obp-purple-3: rgba(116, 58, 232, 0.9);
$obp-purple-4: rgba(116, 58, 232, 0.98);
$obp-purple-5: #6c3dcc;
$obp-purple-official: #6633CC;

$obp-grey-1: #f5f5f5;
$obp-grey-2: rgb(235, 235, 235);
$obp-grey-3: rgb(220, 220, 220);

$obp-green-official: #00BB00;
$obp-green-dark: #008000;

// Admonition custom colors
// Note
$color-blue-1: rgba(244, 251, 255, 0.9);
$color-blue-2: #e7f2fa;
$color-blue-3: #c2daec;
$color-blue-5: #35487e;
// Important
$color-green-1: rgba(233, 244, 240, 0.68);
$color-green-2: #d6ece8;
$color-green-3: #1abc9c;
$color-green-5: #0e6353;

$color-orange-1: #fffaf3;
$color-orange-2: #f7e2cc;
$color-orange-3: #f0b37e;
$color-orange-5: #876447;

$color-purple-1: rgba(244, 251, 255, 0.9);
$color-purple-2: #e7f2fa;
$color-purple-3: #c2daec;
$color-purple-5: #35487e;

// Mobile main nav
////////////////////////////////

.wy-nav-top {
  background: $obp-purple-official;
}


//
// SIDE NAVIGATION
////////////////////////////////

.wy-nav-side {
  text-transform: uppercase;
  background-color: $obp-purple-official;

  .icon-home {
    text-transform: lowercase;
  }

  a {
    color: $obp-white;

    &:before {
      display: none;
    }
  }
}

//
// SIDE NAVIGATION SEARCH FIELD
////////////////////////////////

.wy-side-nav-search {
  background-color: $obp-purple-official;

  input[type="text"] {
    width: 100%;
    border-radius: 0;
    padding: 6px 12px;
    border-color: $obp-purple-official;
  }
}

//
// SIDE NAVIGATION MENU
////////////////////////////////

.wy-menu-vertical {

  // TOCTREE L1
  ////////////////////////////////

  li.toctree-l1 {
    a:hover {
      color: $obp-white;
      background-color: $obp-purple-5;
    }
  }

  li.toctree-l1.current {
    > a {
      border-bottom: none;
      border-top: none;

      font-weight: 100;
      color: $obp-white;
      background-color: $obp-purple-official;
    }

    a {
      //padding: .4045em 3.445em;

      font-weight: 100;
      color: $obp-white;
      border-right: 1px solid $obp-purple-official;
    }
  }

  // TOCTREE L2
  ////////////////////////////////

  li.toctree-l2 {
    a {
      font-weight: 100;
      background-color: $obp-purple-4;
      padding: .4045em 2.445em;
    }

    a:hover {
      background-color: $obp-purple-3;
    }
  }

  li .toctree-l2.current {
    > a {
      font-weight: 500;
      background-color: $obp-purple-3;

    }

    li.toctree-l3 {
      a {
        padding: .4045em 3.245em;
      }

      > a {
        color: $obp-black;
        background-color: $obp-purple-2;
      }

      a:hover {
        color: $obp-black;
        background-color: $obp-purple-1;
      }
    }

    li.toctree-l3.current > a {
      color: $obp-black;
      background-color: $obp-purple-1;
    }

    li.toctree-l4 {
      a {
        padding: 0.4045em 0.245em .4045em 3.8045em;
      }

      > a {
        color: $obp-black;
        background-color: $obp-grey-2;
      }

      a:hover {
        color: $obp-black;
        background-color: $obp-grey-1;
      }
    }

    li.toctree-l4.current > a {
      background-color: $obp-grey-1;
    }
  }
}


//
// MAIN CONTENT
////////////////////////////////

.wy-nav-content {
  //max-width: none;
  max-width: 1000px;
  background-color: $obp-grey-1;

  a {
    color: $obp-purple-official;
    cursor: pointer;
  }
}

.wy-nav-content-wrap {
  background-color: $obp-grey-1;
}


//
// GENERIC
////////////////////////////

// HEADERS
////////////////////////////

h1, h2, h3, h4, h5 {
  color: $obp-green-dark;
}

h1, h2 {
  text-transform: uppercase;
}

h3 {
  //border-bottom: 1px solid $obp-green-dark;
  //margin-top: 30px;
  text-transform: uppercase;
}

h4 {
  //font-size: 110%;
  margin-top: 25px;
  text-transform: uppercase;
}


// PARAGRAPH
////////////////////

p {
  font-size: 18px;
  //line-height: 20px;
}


// LISTS
////////////////////

.toctree-wrapper {
  text-transform: uppercase;
}

ul.simple {
  margin-top: 5px;
}

// CAPTION TEXT
////////////////////

.caption-text {
  font-size: 16px;
}


.section {
  ul li {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 8px;

  }

  ol li {
    font-size: 18px;
    margin-bottom: 8px;
  }

}

// image
//----------------------------------

img {
  //border: 1px solid lightgray;
}

// italic text
//----------------------------------

em {
  font-size: 14px;
}

// Admonitions
//-----------------------------------
// Note
.rst-content .note {
  border: 2px solid $color-blue-5;
  background-color: $color-blue-1;

  .admonition-title {
    background: $color-blue-2;
    color: $color-blue-5;
  }
}

.rst-content .important {
  border: 2px solid $color-green-5;
  background-color: $color-green-1;

  .admonition-title {
    background: $color-green-2;
    color: $color-green-5;
  }

}

.rst-content .hint {
  border: 2px solid $color-green-5;
  background-color: $color-green-1;

  .admonition-title {
    background: $color-green-2;
    color: $color-green-5;
  }

}

.rst-content .warning {
  border: 2px solid $color-orange-5;
  background-color: $color-orange-1;

  .admonition-title {
    background: $color-orange-2;
    color: $color-orange-5;
  }

}

