/* Generic typography setting for open broadcast */
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.wy-nav-top {
  background: #6e4dca;
}

.wy-nav-side {
  text-transform: uppercase;
  background-color: #6e4dca;
}
.wy-nav-side .icon-home {
  text-transform: lowercase;
}
.wy-nav-side a {
  color: #fafafa;
}
.wy-nav-side a:before {
  display: none;
}

.wy-side-nav-search {
  background-color: #6e4dca;
}
.wy-side-nav-search input[type=text] {
  width: 100%;
  border-radius: 0;
  padding: 6px 12px;
  border-color: #6e4dca;
}

.wy-menu-vertical li.toctree-l1 a:hover {
  background-color: #7e61cf;
}
.wy-menu-vertical li.toctree-l1.current > a {
  border-bottom: none;
  border-top: none;
  font-weight: 100;
  color: #fafafa;
  background-color: #6e4dca;
}
.wy-menu-vertical li.toctree-l1.current a {
  font-weight: 100;
  border-right: 1px solid #6e4dca;
}
.wy-menu-vertical li.toctree-l2 a {
  font-weight: 100;
  background-color: #9076d6;
  padding: 0.4045em 2.445em;
}
.wy-menu-vertical li.toctree-l2 a:hover {
  background-color: #9c84db;
}
.wy-menu-vertical li .toctree-l2.current > a {
  font-weight: 500;
  background-color: #9c84db;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l3 a {
  padding: 0.4045em 3.245em;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l3 > a {
  color: #000000;
  background-color: rgba(198, 178, 255, 0.9);
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l3 a:hover {
  color: #000000;
  background-color: rgba(218, 205, 253, 0.9);
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l3.current > a {
  color: #000000;
  background-color: rgba(218, 205, 253, 0.9);
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l4 a {
  padding: 0.4045em 0.245em 0.4045em 3.8045em;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l4 > a {
  color: #000000;
  background-color: #ebebeb;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l4 a:hover {
  color: #000000;
  background-color: #f5f5f5;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l4.current > a {
  background-color: #f5f5f5;
}

.wy-nav-content {
  max-width: 1000px;
  background-color: #f5f5f5;
}
.wy-nav-content a {
  color: #6e4dca;
  cursor: pointer;
}

.wy-nav-content-wrap {
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5 {
  color: #008000;
}

h1, h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

h4 {
  margin-top: 25px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

.toctree-wrapper {
  text-transform: uppercase;
}

ul.simple {
  margin-top: 5px;
}

.caption-text {
  font-size: 16px;
}

.section ul li {
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 8px;
}
.section ol li {
  font-size: 18px;
  margin-bottom: 8px;
}

em {
  font-size: 14px;
}

.rst-content .note {
  border: 2px solid #35487e;
  background-color: rgba(244, 251, 255, 0.9);
}
.rst-content .note .admonition-title {
  background: #e7f2fa;
  color: #35487e;
}

.rst-content .important {
  border: 2px solid #0e6353;
  background-color: rgba(233, 244, 240, 0.68);
}
.rst-content .important .admonition-title {
  background: #d6ece8;
  color: #0e6353;
}

.rst-content .hint {
  border: 2px solid #0e6353;
  background-color: rgba(233, 244, 240, 0.68);
}
.rst-content .hint .admonition-title {
  background: #d6ece8;
  color: #0e6353;
}

.rst-content .warning {
  border: 2px solid #876447;
  background-color: #fffaf3;
}
.rst-content .warning .admonition-title {
  background: #f7e2cc;
  color: #876447;
}

/*# sourceMappingURL=custom.css.map */
