/* -----------------------------------------------------------------------------
   Custom styles for the open broadcast documentation
   -------------------------------------------------------------------------- */
/* Colors
-------------------------------------------------*/
/* Typography
-------------------------------------------------*/
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

h1 {
  color: #008000;
}

h2 {
  font-size: 20px;
}

h2, h3, h4, h5 {
  margin: 16px 0 8px 0;
}

h4 {
  font-size: 105%;
}

p {
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 150%;
  margin-bottom: 4px;
}

em {
  font-size: 14px;
}

.rst-content div.figure {
  margin-bottom: 16px;
}

.figure .caption-text {
  font-size: 16px;
}

.section {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Mobile main nav
-------------------------------------------------*/
.wy-nav-top {
  background: rgb(110, 77, 202);
}

/* Side nav search field
-------------------------------------------------*/
.wy-side-nav-search {
  background: #f5f5f5;
}
.wy-side-nav-search input[type=text] {
  width: 100%;
  border-radius: 0;
  padding: 6px 12px;
  font-size: 18px;
  border-color: rgb(235, 235, 235);
}

/* Side nav menu
-------------------------------------------------*/
.wy-nav-side {
  text-transform: uppercase;
  background-color: #f5f5f5;
  border-right: 1px solid rgb(220, 220, 220);
}
.wy-nav-side .icon-home {
  text-transform: lowercase;
  color: rgb(110, 77, 202);
}
.wy-nav-side a:before {
  display: none;
}

.wy-menu-vertical li.toctree-l1 {
  margin-top: 4px;
}
.wy-menu-vertical li.toctree-l1 a {
  color: rgb(110, 77, 202);
}
.wy-menu-vertical li.toctree-l1 a:hover {
  color: rgb(110, 77, 202);
  background-color: rgb(235, 235, 235);
}
.wy-menu-vertical li.toctree-l1.current {
  font-weight: bold;
}
.wy-menu-vertical li.toctree-l1.current > a {
  border-bottom: none;
  border-top: none;
  color: rgb(110, 77, 202);
  background-color: #f5f5f5;
}
.wy-menu-vertical li.toctree-l2 a {
  background-color: #f5f5f5;
}
.wy-menu-vertical li .toctree-l2.current > a {
  font-weight: bold;
  background-color: #f5f5f5;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l3 > a {
  background-color: #f5f5f5;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l3 a:hover {
  background-color: rgb(235, 235, 235);
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l3.current > a {
  font-weight: bold;
  background-color: #f5f5f5;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l4 > a {
  background-color: #f5f5f5;
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l4 > a:hover {
  background-color: rgb(235, 235, 235);
}
.wy-menu-vertical li .toctree-l2.current li.toctree-l4.current > a {
  font-weight: bold;
  background-color: #f5f5f5;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #0e6353;
}

/* Page content
-------------------------------------------------*/
.wy-nav-content {
  max-width: 1000px;
  background-color: #f5f5f5;
}
.wy-nav-content a {
  color: rgb(110, 77, 202);
  cursor: pointer;
}

.wy-nav-content-wrap {
  background-color: #f5f5f5;
}

.wy-breadcrumbs {
  display: none;
}

/* Page toctree list
-------------------------------------------------*/
.rst-content .toctree-wrapper p.caption {
  color: #5e5d60;
}

.rst-content .toctree-wrapper ul li, article ul li {
  list-style: circle;
  color: rgb(110, 77, 202);
  margin-bottom: 4px;
}

.toctree-wrapper {
  text-transform: uppercase;
}
.toctree-wrapper ul li ::marker {
  color: rgb(110, 77, 202);
}

/* Page list
-------------------------------------------------*/
.section ul li {
  margin-bottom: 2px;
  font-size: 18px;
}
.section ol li {
  margin-bottom: 2px;
  font-size: 18px;
}

/* Admonitions (alerts)
-------------------------------------------------*/
.rst-content .note {
  background-color: rgba(244, 251, 255, 0.9);
}
.rst-content .note .admonition-title {
  background: #e7f2fa;
  color: #35487e;
}

.rst-content .important {
  background-color: rgba(233, 244, 240, 0.68);
}
.rst-content .important .admonition-title {
  background: #d6ece8;
  color: #0e6353;
}

.rst-content .hint {
  background-color: rgba(233, 244, 240, 0.68);
}
.rst-content .hint .admonition-title {
  background: #d6ece8;
  color: #0e6353;
}

.rst-content .warning {
  background-color: #fffaf3;
}
.rst-content .warning .admonition-title {
  background: #f7e2cc;
  color: #876447;
}

/* Buttons
-------------------------------------------------*/
.btn-neutral {
  color: rgb(110, 77, 202) !important;
  border: 1px solid rgb(110, 77, 202);
}
.btn-neutral:hover {
  background-color: rgb(220, 220, 220) !important;
}

/*# sourceMappingURL=custom.css.map */
